<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Article</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="banner-article-component">
        <h1>Nuestros ingredientes</h1>
        <p>Subheading that sets up context, shares more info about the
        author, or generally gets people psyched to keep reading
        </p>
        <img src="../assets/images/banner.png" alt="comida">
    </div>
</body>
</html>