<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Ingredientes</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <article class="banner-article">
        <div class="banner-article__header">
            <h1 class="banner-article__title">Nuestros ingredientes</h1>
            <p class="banner-article__subtitle">Subheading that sets up context, shares more info about the author, or generally gets people psyched to keep reading</p>
        </div>
        <img src="../assets/images/ingredients.jpg" alt="Nuestros ingredientes" class="banner-article__image">
    </article>
</body>
</html>