<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts - MiApp</title>
    <link rel="stylesheet" href="../assets/CSS/style.css">
    <link rel="stylesheet" href="../assets/CSS/posts.css">
</head>
<body>
    <div class="posts-container">
        
        <!-- Post 1 -->
        <div class="post-card">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/helena.png" alt="Helena" class="author-avatar">
                    <div class="author-info">
                        <div class="author-name">Helena <span class="group-name">in Group name</span></div>
                        <div class="post-time">3 min ago</div>
                    </div>
                </div>
                <button class="more-btn">
                    <img src="../assets/icons/More.png" alt="More">
                </button>
            </div>

            <div class="post-image"></div>

            <div class="post-description">Post description</div>

            <div class="post-footer">
                <button class="post-action">
                    <img src="../assets/icons/Heart.png" alt="Like" class="action-icon">
                    <span>2 likes</span>
                </button>
                <button class="post-action">
                    <img src="../assets/icons/Comment.png" alt="Comment" class="action-icon">
                    <span>5 comments</span>
                </button>
            </div>
        </div>

        <!-- Post 2 -->
        <div class="post-card">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/daniel.png" alt="Daniel" class="author-avatar">
                    <div class="author-info">
                        <div class="author-name">Daniel <span class="group-name">in Group name</span></div>
                        <div class="post-time">5 min ago</div>
                    </div>
                </div>
                <button class="more-btn">
                    <img src="../assets/icons/More.png" alt="More">
                </button>
            </div>

            <div class="post-image"></div>

            <div class="post-description">Post description</div>

            <div class="post-footer">
                <button class="post-action">
                    <img src="../assets/icons/Heart.png" alt="Like" class="action-icon">
                    <span>21 likes</span>
                </button>
                <button class="post-action">
                    <img src="../assets/icons/Comment.png" alt="Comment" class="action-icon">
                    <span>4 comments</span>
                </button>
            </div>
        </div>

        <!-- Post 3 -->
        <div class="post-card">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/oscar.png" alt="Oscar" class="author-avatar">
                    <div class="author-info">
                        <div class="author-name">Oscar <span class="group-name">in Group name</span></div>
                        <div class="post-time">10 min ago</div>
                    </div>
                </div>
                <button class="more-btn">
                    <img src="../assets/icons/More.png" alt="More">
                </button>
            </div>

            <div class="post-image"></div>

            <div class="post-description">Post description</div>

            <div class="post-footer">
                <button class="post-action">
                    <img src="../assets/icons/Heart.png" alt="Like" class="action-icon">
                    <span>3 likes</span>
                </button>
                <button class="post-action">
                    <img src="../assets/icons/Comment.png" alt="Comment" class="action-icon">
                    <span>7 comments</span>
                </button>
            </div>
        </div>

    </div>
</body>
</html>